# IDE project files
.idea
nbproject
.buildpath
.project
.settings

# Windows thumbnail cache
Thumbs.db

# Mac DS_Store files
.DS_Store

# System & settings
sftp-config.json
.vagrant
*.bak

# Magento files
app/etc/local.xml
/downloader/
/media/
/video/
/var/
